---
--- 

<section>
  <h1>Shipping & Handling Policy</h1>

  <h2>Processing Time</h2>
  <p>
    All orders are processed within <strong>5 business days</strong> (excluding weekends and holidays) from the date of order confirmation. You will receive a shipping notification as soon as your order has been dispatched.
  </p>

  <h2>Shipping Rates & Delivery Estimates</h2>
  <p>
    We are pleased to offer <strong>free shipping on all orders</strong>!<br />
    Please note that we require a <strong>minimum order of $100</strong> to qualify.
  </p>
  <p>
    Orders are shipped via air from Florida. Delivery times may vary depending on the destination, but we strive to provide prompt and reliable service. Please allow for possible slight delays due to carrier schedules or unforeseen circumstances.
  </p>
</section>
